@font-face {
    font-family: Source;
    src: url(./Assets/fonts/SourceSans3-VariableFont_wght.ttf);
}

*{
    font-family: Source, "sans-serif";
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

h2{
    font-size: 2.2rem;
    font-weight: 400;
    color: #0F1614;
}

p{
    margin: 20px 0;
    line-height: 30px;
}

a {
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s ;

}

header{
    min-height: 100vh;
    background: url(./Assets/img/pexels-catiamatos-1072179.jpg) center/cover fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav{
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    width: 80%;
    padding: 10px 0px;
}

.nav-left a{
    font-size: 2rem;
    color: antiquewhite;
    text-transform: capitalize;
    font-weight: 600;
}

.nav-right ul{
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: space-between;
    
}
.nav-right a {
color: antiquewhite;
font-size: 0.8rem;
font-weight: 400;
letter-spacing: 2px;
transition: .4s;
}

.nav-right a:hover{
    opacity: .5;
    text-decoration: underline;text-underline-offset: 0.3em;
    letter-spacing: 2.5px;
}



.header-container{
    text-align: center;
    backdrop-filter: blur(3px);
    width: 100%;
    background: rgba(0, 0, 0, 0.282);
    padding: 50px 0;
    display: block;
}

h1{
    color: antiquewhite;
    font-size: 6rem;
}

h3{
    letter-spacing: .5px;
    color: antiquewhite;
    margin-bottom: 40px;
}

.header-container a{
    padding: 10px 30px ;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 30px;
    background: rgba(246, 238, 228, 0.389);
    color: antiquewhite;
    letter-spacing: 2px;
    font-weight: 400;
    display:inline-block;
    margin: 10px 0;
}

.header-container a:hover{
    background: transparent;
    color: antiquewhite;
    letter-spacing: 3px;
}

.header-container a:active{
    transform: scale(1.1);
    opacity: .4;
}

.section1,.section2{
    padding: 100px;
}

.section1{
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 50px;
    align-items: center;
}

.section1 a {
    display: inline-block;
    font-weight: 400;
    color: #21614f;
}


.section1 a:hover, .section2 a:hover{
letter-spacing: 5px;
}


.img-container{
    background: url(./Assets/img/pexels-cottonbro-5858235.jpg)center/cover;
    min-height: 300px;
}

.section2{
    background: #0F1614;
    color: antiquewhite;
    text-align: right;
    position: relative;
}

.section2 h2{
    color: #faebd7;
}

.section2 a {
    color: #588e54;
}

.section2 ::after{
    content: "";
    height: 0.1px;
    position: absolute;
    background: rgba(250, 235, 215, 0.096);
    width: 60%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);

}

footer{
    background: #0F1614;
    display: block;
    padding: 40px 0;
}
ul{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 40%;
}

li{
cursor: pointer;    
list-style: none;
    color: antiquewhite;
}



/* **********RESPONSIVE********** */
@media screen and (max-width:880px) {
    nav {
        grid-template-columns: 20% 80%;

    }
}

@media screen and (max-width:605px) {
    .section1{
        display: block;
    }
    .img-container{
        display: none;
    }
}

@media screen and (max-width:520px) {
    nav{
        display: none;
    }
    
    header{
        min-height: 50vh;
    }

    h1{
        font-size: 3rem;
    }

    h3{
        font-size: 1rem;
        margin: 10px 0;
    }

    .header-container{
        padding: 20px 20px;

    }

    .header-container a {
        transform: scale(0.8);
        
    }

    p{
        font-size: 0.9rem;
    }
    .section1,.section2{
        padding: 40px;
    }
    
    .section1 a,.section2 a{
        font-size: 0.9rem;
    }
    .section2{
        text-align: left;
    }

    ul {
        width: 80%;
    }


}